.jonnitto-imagesinarow__row:empty {
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  margin: x 0;

  &::after {
    display: block;
    transition: opacity 0.2s ease;
    content: "";
    background: inline("img.svg") center no-repeat;
    margin-right: 1em;
    size: 2em;
    opacity: 0.5;
  }

  &:hover::after {
    opacity: 1;
  }
}

.jonnitto-imagesinarow__image {
  outline-offset: 0.1vw;

  &[class*="style__markActiveNodeAsFocused"] {
    z-index: 1;
  }

  &[class*="style__markHoveredNodeAsHovered"] {
    z-index: 2;
  }
}

@keyframes empty-jonnitto-imagesinarow {
  0%,
  25%,
  100% {
    transform: translateY(0);
  }

  5%,
  15% {
    transform: translateY(-4px);
  }

  10%,
  20% {
    transform: translateY(4px);
  }
}
