$jonnitto-imagesinarow-gutter: 1vw !default;

.jonnitto-imagesinarow__row {
  $half: $jonnitto-imagesinarow-gutter / 2;

  margin: 0 -#{$half};
  display: flex;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  > .jonnitto-imagesinarow__image {
    padding: 0 $half $jonnitto-imagesinarow-gutter;
    display: block;
    max-width: 100%;
  }

  img {
    width: 100%;
    max-width: none;
    height: auto;
    display: block;
    object-fit: fill;
  }
}
